.more{font-size: 0.3rem;text-align: center;line-height: 0.7rem;border:1px solid red;display: none;
  width: 50%;height: 0.7rem;margin: 0 auto;border-radius: 0.3rem;margin-top: 0.2rem;margin-bottom: 0.2rem;}
.more p{padding: 0;margin: 0;}

.loading{
            width: 0.8rem;
            height: 0.4rem;
            margin: 0 auto;
            margin-top:1rem;
        }
        .loading span{
            display: inline-block;
            width: 0.08rem;
            height: 100%;
            border-radius: 0.04rem;
            background: lightgreen;
            -webkit-animation: load 1s ease infinite;
        }
        @-webkit-keyframes load{
            0%,100%{
                height: 0.4rem;
                background: lightgreen;
            }
            50%{
                height: 0.7rem;
                margin: -0.15rem 0;
                background: lightblue;
            }
        }
        .loading span:nth-child(2){
            -webkit-animation-delay:0.2s;
        }
        .loading span:nth-child(3){
            -webkit-animation-delay:0.4s;
        }
        .loading span:nth-child(4){
            -webkit-animation-delay:0.6s;
        }
        .loading span:nth-child(5){
            -webkit-animation-delay:0.8s;
        }
