.article{
    background: #fff;
    display: flex;
    margin-bottom: 5px;
    height: auto;
}
.article-user{
    width: 160px;
    background-color:#fdfdfd;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 20px;
}
.article-user>img{
    width: 120px;
    border-radius: 5px;
}
.article-con{
    flex: 1;
    padding: 20px;
}
.user-name{
    font-size: 14px;
    color: #909090;
    height:40px;
    line-height: 40px;
}
.article-tit{
    font: 700 20px 'Microsoft Yahei','Hei',Tahoma,'SimHei',sans-serif;
    margin: 0;
    padding: 0;
}
.article-count{
    overflow: hidden;
    padding: 5px 0;
    border-bottom: 0px dashed #CDCDCD;
    color: #909090;
    font-size: 13px;
    transition: all 1s;
}
.article-count>label{
    margin-right: 15px;
}
.article-count>span{
    color: #ffffff;
}
.article-count>label>i{
    margin-right: 5px;
    font-weight: bold;
}
.article-content{
    min-height: 200px;
    margin-bottom: 10px;
    color: black;
}
.article-reply{
    width: 100%;
    height: 20px;
    margin-bottom: -10px;
    color: #CDCDCD;
    font-size: 12px;
    line-height: 20px;
    border-top: dashed 1px #CDCDCD;
    transition: all 1s;
}
.article:hover .article-reply{
    color: #909090;
    border-top: dashed 1px #909090;
}
.reply label{
    display: none;
}
.reply span {
    color: #909090;
}
.article-replys{
    background-color: #ededed;
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.article-reply-user{
    color: #909090;
    font-size: 13px;
}
.article-reply-user>span{
    margin: 0 10px;
}
.isshow{
    display: none;
}
.article-reply-con{
    color: #535353;
    font-size: 14px;
}
.article-neirong{
    width: 100%;
}
.article-neirong img{
    width: 100%;
}