.article{
    min-height: 300px;
    background: #fff;
    display: flex;
    margin-bottom: 5px;
}
.article-user{
    width: 160px;
    background-color:#fdfdfd;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 20px;
}
.article-user>img{
    width: 120px;
    border-radius: 5px;
}
.article-con{
    flex: 1;
    padding: 20px;
}
.user-name{
    font-size: 14px;
    color: #909090;
    height:40px;
    line-height: 40px;
}
.article-tit{
    font: 700 20px 'Microsoft Yahei','Hei',Tahoma,'SimHei',sans-serif;
    margin: 0;
    padding: 0;
}
.article-count{
    overflow: hidden;
    padding: 5px 0;
    border-bottom: 0px dashed #CDCDCD;
}
.article-count>label{
    margin-right: 15px;
}
.article-coun>span{
    color: #ffffff;
}
.article-count>label>i{
    margin-right: 5px;
    font-weight: bold;
}