.cover{width: 2.3rem;height: 4rem;font-size: 0.2rem;
margin: 0 0.08rem;margin-top: 0.4rem;border:0.01rem solid #ddd;}
.cover img{width: 2.3rem;height: 3.2rem;display: block;}
.cover h3{padding: 0 0.05rem;display: flex;line-height: 0.5rem;}
.cover h3>p{flex: 4;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;
  line-height: 0.5rem;margin-top: -0.01rem;}
.cover h3>span{flex:1;display: block;width: 0.3rem;color: red;text-align: center;}
