.nav{
    width: 100%;
    height: 48px;
    background-color: #0068d3;
}
.navcon{
    width:1100px;
    height: 100%;
    margin: 0 auto;
}
.navul{
    list-style: none;
    padding: 0;
}
.navul> a{
    padding: 0 20px;
    float: left;
    line-height: 48px;
    color: #fff;
}
.active{
    background: #0056b3;
}