.item{margin:0 auto;display: flex;width: 98%;border:1px solid green;padding: 5px 0;}
.ite-left{flex: 1;margin:0 10px;}
.ite-center{flex: 3;margin:0 10px;}
.ite-right{flex: 1;margin:0 10px;}
img{width: 100%;}
