.detail{height: 3.83rem;width: 100%;background: url(http://cms-bucket.nosdn.127.net/catchpic/6/6d/6db6367688469ea1525d1c6a70f315bb.jpg?imageView&thumbnail=550x0) center no-repeat;
background-size: 100% auto;}
.detail-con{height: 3.83rem;width: 100%;display: flex;overflow: hidden;
  background:rgba(70, 70, 70, 0.6);box-shadow: 0px 0px 1rem #fff inset;}
.detail-img{height: 100%;text-align: center;margin: 20px;}
.detail-img img{width: 2.3rem;height: 3.2rem;display: block;margin:0 auto;}
.detail-word{flex: 1;font-size:0.28rem;line-height: 0.28rem;margin: 0.05rem 0;color: #fff;}
.detail-word p:nth-child(1){font-size: 0.35rem;}
.detail-word p:nth-child(3){color: yellow;}
.zhezhao{width: 100%;height: 100%;background: #fff;position: fixed;top: 0.9rem;}
.yy{font-size: 0.26rem;line-height: 0.4rem;padding: 0 0.3rem;margin: 0.3rem 0;}
.kuai{font-size: 0.26rem;line-height: 0.4rem;padding: 0 0.3rem;margin: 0.3rem 0;}
.kuai-tit{font-weight: bold;}
.kuai-con{transition: all 1s;}
.jq-height{position: relative;}
.jq-con{overflow: hidden;transition: all 1s;height: auto;clear: both;}
.jq-height p{position: absolute;width: 100%;background: #fff;
  bottom: -0.4rem;text-align: center;padding: 0;margin: 0;z-index: -1;}
.jq-height p>img{width: 0.3rem;height: 0.3rem;}
.imgpers{height: 2.8rem;overflow-x: scroll;width: 100%;}
::-webkit-scrollbar{
  display:none;
}

.imgper{width: 1.4rem;height: 2.5rem;margin: 0.1rem;float: left;}
.imgper-con{height: 2.7rem;width: 0;overflow:hidden;}
.imgper img{width: 100%;}
.imgper p {font-size: 0.25rem;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;
  text-align: center;width: 100%;
  padding: 0;margin: 0;}
.hx{height: auto;width: 2rem;}
.pl{width: 90%;height: 0.7rem;line-height: 0.7rem;text-align: center;margin: 0 auto;border-radius: 0.4rem;
  color: #fff;font-size: 0.3rem;background: red;margin-bottom: 1rem;}
.loading{
            width: 0.8rem;
            height: 0.4rem;
            margin: 0 auto;
            margin-top:1rem;
        }
        .loading span{
            display: inline-block;
            width: 0.08rem;
            height: 100%;
            border-radius: 0.04rem;
            background: lightgreen;
            -webkit-animation: load 1s ease infinite;
        }
        @-webkit-keyframes load{
            0%,100%{
                height: 0.4rem;
                background: lightgreen;
            }
            50%{
                height: 0.7rem;
                margin: -0.15rem 0;
                background: lightblue;
            }
        }
        .loading span:nth-child(2){
            -webkit-animation-delay:0.2s;
        }
        .loading span:nth-child(3){
            -webkit-animation-delay:0.4s;
        }
        .loading span:nth-child(4){
            -webkit-animation-delay:0.6s;
        }
        .loading span:nth-child(5){
            -webkit-animation-delay:0.8s;
        }
