.editcon{
    min-height: calc(100vh - 215px) ;
    width: 1100px;
    margin: 0 auto;
    font-size: 12px;
}
.tb_miui {
    border-bottom: 3px solid #e9e9e9;
}
.mbw {
    margin-bottom: 20px !important;
}
.cl {
     zoom: 1;
}
.tb_miui .a, .tb_miui .current {
    border-bottom: 3px solid #0068d3;
    margin-bottom: -3px;
}

.tb_miui{
    list-style: none;
    padding: 0;
    margin: 0;
}
.tb_miui li {
    padding: 9px 14px;
    width: 76px;
}
.tb_miui .a a, .tb_miui .current a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
.editit{
    margin-bottom: 10px;
}
.inputbox{
    width: 420px;
    margin-left: 20px;
    margin-right: 20px;
}
.edit-btn{
    margin-top: 20px;
    margin-bottom: 40px;
}
.edit-btn button{
    margin-right: 20px;
    width: 144px;
}
.edit-btn button:nth-child(1){
    background: #fc7050;
    border: none;
}