.shop{flex:1;height: 100%;border-top: 0.01rem solid #dfdddd;}
.shop-img{width: 100%;height: 3.7rem;}
.shop>p{width: 100%;height: 0.7rem;
  font-size: 0.37rem;color: #00affc;
    line-height: 0.7rem;text-align: center;
    background: #eeecec;}
