.cc{display: block;width: 792px;height: 200px;font-size: 20px;color: red;
  border: 2px solid red;}
button{border: none;background: red;color: #fff;float: right;width: 90px;
  height: 35px;margin-top: 20px;}
.aa{overflow: hidden;}
