.item{margin:0 auto;display: flex;width: 96%;border-radius: 0.08rem;
  border:1px solid #cccccc;padding: 0.3rem 0;font-size: 0.25rem;
background: #fff;margin-top: 0.2rem;}
.ite-left{flex: 3;padding:0 0.3rem;}
.ite-right{flex: 1;padding:0 0.3rem;}
img{width: 100%;}
