.platelist{
    width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 100px;
}
.platelist::after {
    display: block;
    content: " 20";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.platelistconlist{
    display: flex;
    padding-top: 10px;
    overflow: hidden;
    width: 100%;

}
.platelistlist{
    flex: 1;
    padding: 0 10px;
    padding-top: 1px;
    border: 1px solid #eaeaea;
    background-color: white;
    border-radius: 5px;
}
.platelistbtn{
    width: 250px;
    margin-left: 20px;
}
.platetit{
    font-size: 41px;
    font-family:'微软雅黑';
    font-weight: 100;
}