.bg{
    width: 100%;
    height: 100%;
    background-position: center;
    overflow: hidden;
    position: relative;
}
.fromdiv{
    position: absolute;
    max-width:600px;
    max-height:300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 2%;
    padding-top:50px ;
    transition: all 1s;
    top: 15%;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
}
.fromdiv:hover{
    box-shadow: 0px 0px 10px cornflowerblue;
}
.ifshow{
    top: -50%;
}
.signup{
    position: absolute;
    padding: 2%;
    padding-top:50px;
    width: 600px;
    margin: 0 auto;
    min-height:300px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    top: 100%;
    left: 0;
    right: 0;
    transition: all 1s;
}
.signupshow{
    top: 15%;
}.signupshowinfo{
    top: -2%;
}