.headerbg{
    width: 100%;
    height: 100px;
}
.headerlogo img{
    height: 50px;
}
.headerlogo{
    flex: 1;
    line-height:100px;
}
.headercontent{
    display: flex;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.headerinfo div{
    height: 50%;
    margin-top: 30px;
}
.headerlogin{
    text-align: right;
    line-height: 50px;
    text-decoration: none;
}
.headerimg{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: -5px;
}