body{font-size:12px;font-family:"宋体",Arial, Helvetica, sans-serif;color:#878787;background-color: #fff;}
a{color:#878787;}
.yahei{font-family: "微软雅黑";}
a.whiteLink{color:#fff;}

/*轮播图公用部分*/
.slider_wrap{position:relative;width:1000px;margin:0 auto;overflow: hidden;}
.slider{height:364px;overflow: hidden;}
.slider_wrap .num{position:absolute;left:50%;bottom: 16px;z-index:12;overflow: hidden;}
.slider_wrap .num a{cursor:pointer;float:left;display:inline;text-indent:-9999px;margin-right:10px;width:8px;height:8px;background:url(../images/slider_num.jpg) no-repeat;}
.slider_wrap .num .on{background-image:url(../images/slider_num_on.jpg);}

.title{width:720px;margin:0 auto;position:relative;height:34px;line-height:36px;border-bottom: 3px solid #858585;}
.title a{margin-left:10px;font-size:16px;font-family: "微软雅黑";}
.title .more{position:absolute;right:14px;bottom:0px;font-size:12px;}

.header_wrap{width:100%;height:144px;background: url(../images/header_bg.jpg) repeat-x 0 bottom;}
.header{width:1000px;height:144px;margin:0 auto;position: relative;}
.logo{position:absolute;left:44px;top:28px;display: block;text-indent:-9999px;width:96px;height:96px;background:url(../images/logo.jpg) no-repeat;}
.nav{position:absolute;left:230px;top:60px;overflow: hidden;border-right:1px solid #CCCCCC;}
.nav a{float:left;width:150px;height:40px;border-left:1px solid #CCCCCC;font-family: "微软雅黑";font-size:18px;text-align: center;}
.nav a span{display:block;text-align: center;font-family:"宋体";color:#333333;font-size:12px;}


.side_bar{width:246px;margin-left:10px;overflow: hidden;}
.title2{font-family: "微软雅黑";color:#525252;font-size:15px;height:34px;line-height:36px;overflow:hidden;}
.ser_bus{width:270px;overflow: hidden;}
.ser_bus a{float:left;color:#545454;margin:6px 14px 0 0;width:110px;height:26px;border:1px solid #E6E6E6;text-align: center;line-height:26px;}
.ser_bus a:hover{border:1px solid #888;color:#96CD00;}
.consult,.news{padding:14px 8px 20px 10px;width:221px;margin-top:10px;background-color: #EEEEEE;overflow:hidden;}
.consult h5{margin-top:10px;color:#545454;}
.consult p{margin-top:14px;}
.qq_zixun{float:left;margin-left:6px;width:101px;height:32px;background:url(../images/qq_ico.jpg) no-repeat;}
.buy{display:block;margin:0 auto;width:209px;height:41px;background: url(../images/buy.jpg) no-repeat;}
.title3{font-family: "微软雅黑";color:#525252;font-size:14px;height:36px;}
.title3 span{display:block;font-size:10px;}
.news{overflow: hidden;}
.news_list{height:240px;overflow: hidden;}
.news_list li{height:34px;line-height:34px;font-size:14px;border-bottom:1px dotted #868686;}
.trade li{margin-top:8px;width:239px;height:115px;overflow:hidden;overflow:hidden;line-height:0px;font-size:0px;}
.trade li a{display:block;overflow: hidden;}
.trade img{display:block;}
.tel_img{margin-left:20px;}


.footer_wrap{width:100%;margin-top:70px;background-color: #333333;overflow: hidden;}
.footer{width:1000px;height:260px;margin:0 auto;overflow: hidden;}
.copyright,.info{float:left;display:inline;}
.copyright{width:290px;height:260px;text-align:center;background:url(../images/footer_line.jpg) no-repeat right 26px;}
.footer_logo{display:block;width:88px;height: 88px;margin:0 auto;margin-top:30px;background:url(../images/footer_logo.jpg) no-repeat;}
.copyright p{line-height: 24px;}
.copyright a:hover{text-decoration: underline;}
.info{padding:30px;}
.info p{line-height:26px;margin-bottom:8px;color:#fff;}
.info p a{color:#fff;}
.jastoo_tip{text-indent:8px;font-size:14px;background:url(../images/tip.jpg) no-repeat;border:none;color:#fff;padding-top:4px;padding-bottom:8px;width:169px;height:32px;line-height:24px;}
.jastoo_tip2{width:90px;height:90px;background:none;border:none;padding: 0;}

.contact{width:226px;height:36px;margin-top:70px;background:url(../images/ico.jpg) no-repeat;overflow:hidden;}
.contact a{float:left;width:30px;height:36px;margin-left:23px;display:inline;}

/*返回头部*/
#backToTop a{display:block;cursor:pointer;width:62px;height:62px;}
#backToTop{display:none;width:62px;height:62px;position:fixed;right:50%;margin-right:-580px;bottom:270px;z-index:1;}
*html #backToTop{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}





